.reports_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 90%;
  height: 90%;

  padding: 25px;

  gap: 25px;

  border-radius: 25px;

  background-color: var(--secondary-card-bg);

}

.search_and_pages_container {


  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  width: 95%;
  height: 10%;

  border-radius: 25px;

  background-color: var(--tertiary-card-bg);

}

.report_pages_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  width: 20%;
  height: 65%;

  border-radius: 25px;

  margin-left: 1.5%;
  margin-right: 1.5%;

  margin-top: 1.5%;
  margin-bottom: 1.5%;

  background-color: var(--secondary-card-bg);

}

.reports_list_container {

  width: 95%;
  height: 85%;

  border-radius: 25px;

  background-color: var(--tertiary-card-bg);
}

.reports_table {
  width: 100%;
  min-height: 3rem;
  max-height: 3rem;

  table-layout: fixed;


  background-color: var(--table-bg)

}

.reports_table_row {

  min-height: 2rem;
  width: auto;

  background-color: var(--table-row-bg);
}

.reports_table_row:hover,
.reports_table_row_darker:hover{

  background: var(--table-hover-bg);

}

.reports_table_row_darker{
  min-height: 2rem;
  width: auto;

  background-color: var(--table-row-alt-bg);
}

.reports_table_header {

  
  max-height: 2rem;
  width: 100%;

  border-radius: 25px;

  background-color: var(--table-header-bg);
}

.header_cell_title_button_container {
  
  display: flex;

  width: 100%;
}

.reports_table_header_cell {


  min-height: 2rem;
  width: auto;

  white-space: nowrap;  
  overflow: hidden;       
  text-overflow: clip;

  padding-left: 5px;

  border: 1px solid var(--table-border);
}

.header_cell_title {
  
  display: flex;
  justify-content: left;
  
  width: 50%;
  height: auto;
}

.header_cell_button {
  
  display: flex;
  justify-content: right;
  
  width: 50%;
  
}

.reports_table_cell {

  min-height: 4rem;
  width: auto;

  white-space: nowrap;    
  overflow: hidden;       
  text-overflow: clip;


  padding-left: 5px;
}