.report_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 80%;
  height: 100%;

  z-index: 5;

  padding: 25px;

  box-sizing: border-box;

  border: 3px solid var(--card-border);
  background-color: var(--card-bg);

}

.report_info_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  width: 90%;
  height: 25%;

  gap: 25px;

  padding: 25px;



  border: 3px solid var(--card-border);
  background-color: var(--secondary-card-bg);

}

.patient_info {


  display: flex;
  justify-content: center;
  align-items: start;

  flex-direction: column;

  width: 90%;
  height: 100%;

  gap: 0.5rem;

  padding: 25px;

  background-color: var(--tertiary-card-bg)
}

.doctor_info {

  display: flex;
  justify-content: center;
  align-items: start;

  flex-direction: column;

  width: 90%;
  height: 100%;

  gap: 0.5rem;

  padding: 25px;

  background-color: var(--tertiary-card-bg)
}

.report_data_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  width: 90%;
  height: 75%;

  gap: 10px;

  padding: 25px;

  border: 3px solid var(--card-border);
  background-color: var(--secondary-card-bg);

}

.report_conclusion_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 90%;
  height: 100%;

  gap: 15px;

  background-color: var(--tertiary-card-bg);

}

.extra_report_info {

  display: flex;

  margin-top: 15px;

  flex-direction: column;
  width: 90%;
  height: 50%;


}

.report_conclusion {

  width: 90%;
  height: 50%;

}

.report_identified_symptoms_container {


  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 90%;
  height: 100%;

  background-color: var(--tertiary-card-bg)
}

.report_symptoms_table {
  width: 100%;
  height: 100%;

  background-color: var(--card-border)
}

.symptoms_table_header {

  height: 7.69%;
  width: 100%;

  background-color: var(--bg);
}

.symptoms_table_header_cell {
  height: 7.69%;
  width: 50%;

  padding-left: 5px;
}

.symptoms_table_row {

  height: 7.69%;
  width: 50%;

  background-color: var(--tertiary-card-bg);
}

.symptoms_table_cell {

  height: 7.69%;
  width: 50%;

  padding-left: 5px;
}

.report_buttons_container {

  display: flex;

  flex-direction: row;

  gap: 20px;

}

@page {
  size: A4;
  margin: 1cm;
}

@media print {

  body {
    color: black;
    background-color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: black;
  }

  p {
    margin: 4px 0;
  }

  .whole {
    background-color: white;
  }

  .app-header {
    display: none;
  }

  .base_small_button {
    display: none;
  }

  .report_container {
    width: 100%;
    padding: 0;
    

    border: 0px;
  }

  .report_info_container {
    width: 100%;
    height: 225px;

    gap: 0;
    padding: 0;
    padding-left: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    border: 1px solid black;
    background-color: white;
  }

  .report_data_container {
    width: 100%;
    height: 1000px;

    padding: 0px;

    flex-direction: column;

    border: 0;
    background-color: white;
  }

  .patient_info {

    width: 50%;
    height: 100px;

    padding: 0px;

    border-right: 1px solid black;

    border: 0;
    background-color: white;
  }

  .doctor_info {

    width: 50%;
    height: 100px;

    padding: 0px;
    padding-left: 5px;

    background-color: white;
  }

  .report_conclusion_container {
    width: 100%;
    height: 300px;

    border: 1px solid black;

    background-color: white;
  }

  .report_conclusion {

    border-top: 1px solid black;

    height: 200px;
    background-color: white;
  }


  .report_symptoms_table {

    height: 12cm;

    page-break-inside: avoid;
  }

  .symptoms_table_header {
    border: 1px solid black;
    background-color: white;

  }

  .symptoms_table_row {
    background-color: white;
  }


}