.paciente_perfil_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 15px;

  width: 60%;
  height: 80%;

  min-width: 500px;
  min-height: 300px;

  z-index: 5;

  padding: 20px;

  box-sizing: border-box;

  border-radius: 25px;

  border: 2px solid var(--card-border);
  background-color: var(--card-bg);

}

.paciente_perfil_inputs {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  gap: 10%;

  text-align: left;

  width: 75%;
  height: 90%;

  z-index: 5;

  box-sizing: border-box;


}

.paciente_inputs {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 33%;
  height: 100%;
}

.responsavel_inputs {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 33%;
  height: 100%;
}

.cidade_inputs {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 33%;
  height: 100%;
}

.paciente_perfil_buttons {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  gap: 15px;

  width: 75%;
  height: 20%;

  text-align: center;

  z-index: 5;

  box-sizing: border-box;
}