.opcoes_usuario_center {
  width: 70%;
  height: 90%;

  max-width: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  gap: 10%;

  z-index: 1;

  border-radius: 3%;

  border: 2px solid var(--card-border);
  background-color: var(--card-bg);
}