html,
body {

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(7, 22, 36);
  border: 0;
  margin: 0;

}

.center {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 80%;

  gap: 20px;

  background-color: brown;

}

.login_with_credentials {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 80%;
  height: 80%;

  gap: 20px;

  background-color: rgb(194, 15, 185);

}

.login_with_qr {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 80%;
  height: 80%;

  background-color: rgb(63, 15, 194);

}

.placeholder_QR {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 500px;

  background-color: rgb(138, 126, 126);

}