.base_button {

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 15px;

  width: auto;
  height: 2vh;

  max-width: 300px;

  padding: 25px;

  box-shadow: 0px 9px var(--button_shadow);

  font-size: 100%;
  text-shadow: 0px 1px 1px var(--text-secondary);
  text-align: center;

  border: 1px solid var(--button-border);

  color: var(--text-primary);
  background-color: var(--button_color);

  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;

}

.base_button:hover {

  border: 1px solid var(--button-border-hover);

  transform: translateY(-5px);
  box-shadow: 0px 14px var(--button_shadow);
}

.base_button:active {

  border: 1px solid var(--button-border-active);

  transform: translateY(9px);
  box-shadow: 0px 0px var(--button_shadow);
}

.base_small_button {

  display: flex;
  align-items: center;

  border: 0;
  border-radius: 15px;

  width: auto;
  height: 20%;

  padding: 25px;

  box-shadow: 0px 9px var(--button_shadow);

  font-size: 1.8rem;
  text-shadow: 0px 1px 1px var(--text-secondary);
  text-align: center;

  border: 1px solid var(--button-border);

  color: var(--text-primary);
  background-color: var(--button_color);

  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;

}

.base_small_button:hover {

  border: 1px solid var(--button-border-hover);

  transform: translateY(-5px);
  box-shadow: 0px 14px var(--button_shadow);
}

.base_small_button:active {

  border: 1px solid var(--button-border-active);

  transform: translateY(9px);
  box-shadow: 0px 0px var(--button_shadow);
}

.base_table_button {

  border: 0;
  border-radius: 5px;

  width: 95%;
  height: 95%;

  box-shadow: 0px 3px var(--button_shadow);

  text-shadow: var(--text-shadow-sm);
  text-align: center;

  color: var(--text-primary);
  background-color: var(--button_color);

  border: 1px solid var(--button-border);

  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;

}

.base_table_button:hover {

  border: 1px solid var(--button-border-hover);

  transform: translateY(-2px);
  box-shadow: 0px 5px var(--button_shadow);
}

.base_table_button:active {

  border: 1px solid var(--button-border-active);

  transform: translateY(3px);
  box-shadow: 0px 0px var(--button_shadow);
}

.toggle_base_button {

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 15px;

  width: 100%;
  height: 80%;

  box-shadow: 0px 9px var(--button_shadow);

  padding: 20PX;

  font-size: 100%;  
  text-shadow: 0px 1px 1px var(--text-secondary);
  text-align: center;

  border: 1px solid var(--button-border);

  color: var(--text-primary);
  background-color: var(--button_color);

  transition:
    transform 0.05s ease-in-out,
    box-shadow 0.05s ease-in-out,
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;

}

.toggle_base_button:hover {

  border: 1px solid var(--button-border-hover);

  transform: translateY(-5px);
  box-shadow: 0px 15px var(--button_shadow);

}

.toggle_base_button:disabled {

  color: var(--button-disabled-text);
  background-color: var(--button-disabled-bg);

  border: 1px solid var(--button-disabled-border);

  

}

.toggle_base_button.is_active {

  border: 1px solid var(--button-border-active);

  color: var(--toggled_text_color);
  background-color: var(--toggled_button_color);
  transform: translateY(9px);
  box-shadow: 0px 0px var(--button_shadow);
}

.toggle_small_base_button {

  display: flex;
  align-items: center;

  border: 0;
  border-radius: 15px;

  width: auto;
  height: 40px;

  padding: 25px;

  box-shadow: 0px 9px var(--button_shadow);

  font-size: 100%;
  text-shadow: 0px 1px 1px var(--text-secondary);
  text-align: center;

  border: 1px solid var(--button-border);

  color: var(--text-primary);
  background-color: var(--button_color);

  transition:
    transform 0.05s ease-in-out,
    box-shadow 0.05s ease-in-out,
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;

}

.toggle_small_base_button:hover {

  border: 1px solid var(--button-border-hover);

  transform: translateY(-5px);
  box-shadow: 0px 15px var(--button_shadow);

}

.toggle_small_base_button.is_active {

  border: 1px solid var(--button-border-active);

  color: var(--toggled_text_color);
  background-color: var(--toggled_button_color);
  transform: translateY(9px);
  box-shadow: 0px 0px var(--button_shadow);
}

.yes_no_small_toggle_button {

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 7px;

  width: 50px;
  height: 6px;

  padding: 15px;

  box-shadow: 0px 5px var(--button_shadow);

  font-size: 1.0rem;
  text-shadow: 0px 1px 1px var(--text-secondary);
  text-align: center;

  border: 1px solid var(--button-border);

  color: var(--text-primary);
  background-color: var(--button_color);

  transition:
    transform 0.05s ease-in-out,
    box-shadow 0.05s ease-in-out,
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;

}

.yes_no_small_toggle_button:hover {

  border: 1px solid var(--button-border-hover);

  transform: translateY(-5px);
  box-shadow: 0px 9px var(--button_shadow);

}

.yes_no_small_toggle_button.is_active {

  border: 1px solid var(--button-border-active);

  color: var(--toggled_text_color);
  background-color: var(--toggled_button_color);
  transform: translateY(3px);
  box-shadow: 0px 0px var(--button_shadow);
}