html,
body {

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  margin: 0;

}

.app {

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  margin: 0;

}

.center_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 80%;
  height: 80%;

  gap: 20px;

  border: 25px;
  margin: 25px;

  border-radius: 50px;

  background-color: rgb(68, 71, 204);

}

.title_container {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 20%;

  gap: 20px;

  border: 25px;
  margin: 25px;

  border-radius: 50px;

  background-color: rgb(62, 36, 124);

  font-size: 1.5rem;

}

.cadastro_container 
{

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 80%;

  flex-direction: column;

  gap: 20px;

  border: 25px;
  margin: 25px;

  border-radius: 50px;

  background-color: rgb(62, 36, 124);

}