
.principal_center {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 80%;

  flex-direction: column;

  gap: 20px;

  border: 25px;
  margin: 25px;

  border-radius: 50px;


}

.title_container 
{

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 80%;

  flex-direction: column;

  gap: 20px;

  border: 25px;
  margin: 25px;

  border-radius: 50px;

  background-color: rgb(70, 28, 146);

}

.admin_or_normal_login_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 80%;
  height: 50%;

  flex-direction: row;

  text-align: center;

  gap: 5%;

  border: 25px;
  margin: 25px;

  border-radius: 50px;

  background-color: rgb(49, 88, 216);

}

.normal_login_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 500px;
  height: 80%;

  border: 25px;
  margin: 25px;

  border-radius: 50px;

  background-color: rgb(63, 15, 194);

}

.admin_login_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 500px;
  height: 80%;

  border: 25px;
  margin: 25px;

  border-radius: 50px;

  background-color: rgb(115, 109, 139);

}